.t{
    background-color:  rgba(255, 255, 255, 1);
    display: grid;
    grid-template-rows: 100px 530px;
    width: 1340px;
    height: 650px;
    font-family: "Manrope", sans-serif;
    border-radius: 12px;
    border: 1px solid black;

}
.box{
    display: grid;
    width: 1020px;
    margin: 0 25px 0 25px;
    font-size: 18px;
    font-weight: 400;
    grid-template-rows: 100px 100px 100px 100px ;
}
.card{
    margin: 0 0 0 90px;
}
.col{
    margin: 10px 0 10px 90px;
    display: grid;
    grid-template-columns: 250px 250px;
  
    
}
.btn{
    margin: 50px 0 0 90px;
}
.viaEm{
    height: 65px;
    width: 200px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 1px 1px 1px gray;
}
.viaPhn{
    height: 65px;
    width: 200px;
    border-radius: 15px;
    margin: 0 30px 0 0;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 1px 1px 1px gray;
}